html {
    background-color: #fff;
    font-size: 1.2em;
    font-family: Verdana, sans-serif;
    color: #333
}

#wrapper {
    margin: 0 auto;
    padding: 0;
    width: 35em;
}

#generator {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #eee;
    border-radius: 0.2em;
}

#options, h3 {
    margin: 0 auto;
    padding: 0.5em;
    width: 80%;
}

label, input, select {
    margin: 0.2em 0 0.2em 0;
    height: 2em;
}

.InputLabel, .textInput{
    width: 48%;
    display: inline-block;
}

.checkbox {
    height: 1.2em;
    width: 1.2em;
}

.textInput, select {
    padding: 0.2em;
    border: none;
    border-radius: 0.2em;
    color: #333;
    font-size: 0.8em;
}

#btn {
    width: 100%;
    padding: 0.2em;
    border: none;
    border-radius: 0.2em;
    background-color: #4d99db;
    font-size: 1em;
    color: #fff;
}

#btn:active, #btn:hover {
    background-color: #84b2da;
}

#passphrase {
    width: 89%;
    padding: 0.2em;
    border: none;
    background-color: #fff;
}

#copyToClipboardBtn {
    height: 2.4em;
    width: 10%;
    padding: 0.2em;
    border: none;
    background-color: #4d99db;
    color: #fff;
}

a, a:visited{
    text-decoration: none;
    color: #4d99db;
    font-size: 0.9em;
    float: right;
}

a:active, a:hover {
    color: #84b2da;
}

span {
    font-size: 0.9em;
    float: left;
}