html {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: #111
}

#wrapper {
    width: 50%;
    margin: 0 auto;
}

#container {
    width: 100%;
    border-bottom: 2px solid #111;
}

#generator {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-bottom: 1em;
    padding-top: 1em;
}

h1 {
    text-align: center;
    padding: 0.5em;
    border-bottom: 2px solid #111;
}

.inputSet {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 1em 0;
}

.inputSetAlt {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 1em 0;
}

.label, .input, .checkboxLabel {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.label {
    font-size: 2em;
}

.checkboxLabel {
    font-size: 2em;
}

.checkbox {
    height: 2em;
    width: 2em;
}

.input {
    padding: 0.2em;
    border: 2px solid #111;
    border-radius: 0.2em;
    font-size: 1.3em;
    background-color: #fff;
    outline: none;
}

#btn {
    width: 100%;
    padding: 0.5em;
    border: 2px solid #111;
    border-radius: 0.2em;
    background-color: #fff;
    font-size: 1em;
    color: #111;
    font-weight: bold;
}

#btn:hover, #copyToClipboardBtn:hover {
    background-color: #eee;
}

#btn:active, #copyToClipboardBtn:active {
    background-color: #ddd;
}

#passphrase {
    width: 90%;
    padding: 0.5em;
    border: 2px solid #111;
    border-radius: 0.2em 0 0 0.2em;
    background-color: #fff;
    font-size: 1em;
}

#copyToClipboardBtn {
    height: 2.5em;
    width: 10%;
    padding: 0.2em;
    border: 2px solid #111;
    border-left: none;
    border-radius: 0 0.2em 0.2em 0;
    background-color: #fff;
    color: #111;
    font-weight: bold;
    font-size: 1em;
}

a, a:visited{
    text-decoration: none;
    color: #111;
    font-size: 1.5em;
}

a:hover {
    color: #333;
}

a:active {
    color: #555;
}

@media only screen and (max-width: 1300px) {
    #wrapper {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    #wrapper {
        width: 100%;
    }

    .inputSet {
        display: block;
    }

    .label {
        display: block;
        width: 100%;
        text-align: left;
    }

    .input {
        display: block;
        width: 100%;
    }
}